header{ 
   display:flex;
    justify-content: space-around;
    width: 30rem;
    margin:0 auto;
}

nav > input{
    align-items: top;
   color:pink;
}
.placeholder{
    color:red;
}
.nav-bar{
     width:60rem;
     margin:0 auto;
}

nav{  
  padding:5rem;
  display:flex;
    justify-content:space-around;
   color:blue; 
}


@media (max-width:970px){
.nav-bar { 
    width: 20rem;
color:crimson;
}
nav > input{
    color:green;
}
 }
